@import url(../../style/main.css);

header {
  background-color: var(--bg-color);
  padding: 0.1rem 0;
  position: sticky;
  top: 0;
  width: 100%;
}

main {
  margin: 0 auto;
  max-width: 1200px;
  padding: 1rem;
}

#outcome,
#form {
  display: none;
}

#outcome.show,
#form.show {
  display: block;
}

.players-list-form,
.settings {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0rem 2rem;
}

.players-list-form > div,
.settings > div {
  flex-basis: 300px;
  flex-grow: 1;
}

#outcome > .teams {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#outcome > .teams article {
  border: 1px solid #333333;
  border-radius: .5rem;
  flex-basis: 300px;
  flex-grow: 1;
  padding: 0 1rem 1rem 1rem;
}

.actions {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
