.bap-header {
  align-items: center;
  background-color: var(--header-bg-color);
  color: var(--header-font-color);
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.bap-header > a > h2 {
  align-items: end;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.bap-header > a > h2 > small {
  margin-bottom: 4px;
}

.bap-header > .actions button:nth-child(2) {
  display: none;
}

.bap-header > .actions.login button:nth-child(1) {
  display: none;
}

.bap-header > .actions.login button:nth-child(2) {
  display: block;
}

/*
 Tablet
*/
@media only screen and (max-width: 1200px) {

}

/*
 Phones
*/
@media only screen and (max-width: 932px) {

}
