:root {
  --dark-blue-grey: #2c3e50;
  --dark-blue-grey-50: #2c3e5080;
  --bright-blue: #3498db;
  --emerald-green: #27ae60;
  --orange: #F39C12;
  --light-grey: #ECF0F1;
  --red: #E74C3C;
}

/* Modo claro */
.light-mode {
  --bg-color: var(--light-grey);
  --font-color: var(--dark-blue-grey);
  --link-color: var(--bright-blue);
  --link-active-color: var(--dark-blue-grey);
  --link-visited-color: var(--dark-blue-grey-50);
  --button-initial-bg-color: var(--bright-blue);
  --button-initial-font-color: var(--light-grey);
  --button-hover-bg-color: var(--dark-blue-grey);
  --button-hover-font-color: var(--light-grey);
  --button-active-bg-color: var(--emerald-green);
  --button-active-font-color: var(--light-grey);
  --button-disabled-bg-color: transparent;
  --button-disabled-border-color: var(--dark-blue-grey-50);
  --button-disabled-font-color: var(--dark-blue-grey-50);
  --button-secondary-bg-color: var(--red);
  --button-secondary-font-color: var(--light-grey);
  --input-bg-color: transparent;
  --input-font-color: var(--dark-blue-grey);
  --input-placeholder-font-color: var(--dark-blue-grey-50);
  --input-border-color: var(--dark-blue-grey);
  --dialog-shadow-color: var(--dark-blue-grey-50);
  --dialog-bg-color: var(--light-grey);
  --dialog-font-color: var(--dark-blue-grey);
  --landingpage-welcome-bg-color: var(--emerald-green);
  --landingpage-howitworks-scenes-font-color: var(--bright-blue);
  --landingpage-calltoaction-bg-color: var(--orange);
  --footer-bg-color: var(--dark-blue-grey);
  --footer-font-color: var(--light-grey);
  --notification-text-color: var(--light-grey);
  --notification-severity-info-bg-color: var(--bright-blue);
  --notification-severity-warning-bg-color: var(--orange);
  --notification-severity-error-bg-color: var(--red);
  --estimationpage-headerroom-border-color: var(--dark-blue-grey);
  --invitationdialog-bg-color: var(--bright-blue);
  --invitationdialog-shadow-color: var(--dark-blue-grey-50);
  --estimationpage-estimationcard-bg-color: var(--bright-blue);
  --estimationpage-estimationcard-hover-bg-color: var(--dark-blue-grey);
  --estimationpage-estimationcard-select-bg-color: var(--emerald-green);
  --estimationpage-estimationcard-font-color: var(--light-grey);
  --estimationpage-currentscorecard-bg-color: var(--emerald-green);
  --estimationpage-currentscorecard-font-color: var(--light-grey);
  --estimationpage-asides-bg-color: var(--dark-blue-grey);
  --estimationpage-asides-shadow: var(--dark-blue-grey-50);
  --estimationpage-asides-font-color: var(--light-grey);
  --estimationpage-asides-actions-font-color: var(--bright-blue);
  --endsessiondialog-bg-color: var(--red);
  --summarypage-sprintestimation-card-bg-color: var(--emerald-green);
  --summarypage-userstory-score-bg-color: var(--orange);
  --summarypage-disclaimer-bg-color: var(--orange);
  --spinner-color: var(--orange);
  --loading-state-bg-color: var(--light-grey);
}

.dark-mode {
  --bg-color: var(--light-grey);
  --font-color: var(--dark-blue-grey);
  --link-color: var(--bright-blue);
  --link-active-color: var(--dark-blue-grey);
  --link-visited-color: var(--dark-blue-grey-50);
  --button-initial-bg-color: var(--bright-blue);
  --button-initial-font-color: var(--light-grey);
  --button-hover-bg-color: var(--dark-blue-grey);
  --button-hover-font-color: var(--light-grey);
  --button-active-bg-color: var(--emerald-green);
  --button-active-font-color: var(--light-grey);
  --button-disabled-bg-color: transparent;
  --button-disabled-border-color: var(--dark-blue-grey-50);
  --button-disabled-font-color: var(--dark-blue-grey-50);
  --button-secondary-bg-color: var(--red);
  --button-secondary-font-color: var(--light-grey);
  --input-bg-color: transparent;
  --input-font-color: var(--dark-blue-grey);
  --input-placeholder-font-color: var(--dark-blue-grey-50);
  --input-border-color: var(--dark-blue-grey);
  --dialog-shadow-color: var(--dark-blue-grey-50);
  --dialog-bg-color: var(--light-grey);
  --dialog-font-color: var(--dark-blue-grey);
  --landingpage-welcome-bg-color: var(--emerald-green);
  --landingpage-howitworks-scenes-font-color: var(--bright-blue);
  --landingpage-calltoaction-bg-color: var(--orange);
  --footer-bg-color: var(--dark-blue-grey);
  --footer-font-color: var(--light-grey);
  --notification-text-color: var(--light-grey);
  --notification-severity-info-bg-color: var(--bright-blue);
  --notification-severity-warning-bg-color: var(--orange);
  --notification-severity-error-bg-color: var(--red);
  --estimationpage-headerroom-border-color: var(--dark-blue-grey);
  --invitationdialog-bg-color: var(--bright-blue);
  --invitationdialog-shadow-color: var(--dark-blue-grey-50);
  --estimationpage-estimationcard-bg-color: var(--bright-blue);
  --estimationpage-estimationcard-hover-bg-color: var(--dark-blue-grey);
  --estimationpage-estimationcard-select-bg-color: var(--emerald-green);
  --estimationpage-estimationcard-font-color: var(--light-grey);
  --estimationpage-currentscorecard-bg-color: var(--emerald-green);
  --estimationpage-currentscorecard-font-color: var(--light-grey);
  --estimationpage-asides-bg-color: var(--dark-blue-grey);
  --estimationpage-asides-shadow: var(--dark-blue-grey-50);
  --estimationpage-asides-font-color: var(--light-grey);
  --estimationpage-asides-actions-font-color: var(--bright-blue);
  --endsessiondialog-bg-color: var(--red);
  --summarypage-sprintestimation-card-bg-color: var(--emerald-green);
  --summarypage-userstory-score-bg-color: var(--orange);
  --summarypage-disclaimer-bg-color: var(--orange);
  --spinner-color: var(--orange);
  --loading-state-bg-color: var(--light-grey);
}
