@keyframes rotateSpinner {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.bap-spinner {
  display: inline;
  padding: .5rem;
}

.bap-spinner svg {
  animation: rotateSpinner 2s linear infinite;
  fill: var(--spinner-color);
  height: 3rem;
  width: 3rem;
}