@import url(style/main.css);

.lock::before {
  content: " \01F512";
}

main {
  display: none;
}

main.ready {
  display: block;
}

main > section {
  padding: 3rem 1rem 6rem 1rem;
}

main > section h1 {
  width: 100%;
}

main > section.features {  
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
}

main > section.features > article {
  border: 1px solid var(--font-color);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;
  text-align: center;
  width: 300px;
}

main > section.features > article ul {
  padding-left: 0;
}

main > section.features > article ul li {
  list-style: none;
}

main > section.highlight-dates {
  background-color: lightgrey;
}

main > section.highlight-dates > div {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

main > section.highlight-dates > div > article {
  border: 1px solid var(--font-color);
  border-radius: 1rem;
  display: flex;
  max-width: 580px;
  min-width: 300px;
  width: 100%;
}

main > section.highlight-dates > div > article > div {
  border-top-left-radius: .9rem;
  border-bottom-left-radius: .9rem;
  padding: .5rem;
}

main > section.highlight-dates > div > article > div:nth-child(1) {
  background-color: var(--font-color);
  color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

main > section.highlight-dates > div > article > div:nth-child(1) span:nth-child(1) {
  font-weight: 900;
  font-size: 3.5rem;
  margin-top: .9rem;
}

main > section.highlight-dates > div > article > div:nth-child(2) {
  background-color: var(--bg-color);
  border-radius: 0;
  border-bottom-right-radius: .9rem;
  border-top-right-radius: .9rem;
  width: 100%;
}

main > section.highlight-players {
  background-color: lightslategray;
}

main > section.highlight-players > h1 {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}

main > section.highlight-players > div {
  display: flex;
  gap: 8rem;
  margin-top: 3rem;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

main > section.highlight-players > div > article {
  animation: horizontal-scrolling 60s linear infinite;
  background-color: var(--bg-color);
  border-radius: 1rem;
  height: max-content;
  min-width: 250px;
  padding: 1rem;
  width: 250px;
}

@keyframes horizontal-scrolling {
  0%{
    transform: translateX(100dvw);
  }
  100% {
    transform: translateX(-150dvw);
  }
}

main > section.highlight-players > div > article > figure {
  height: 50%;
}

main > section.highlight-players > div > article > figure > img {
  aspect-ratio: 2/3;
  height: 100%;
  object-fit: contain;
  width: 100%;
}

main > section.highlight-players > div > article > h3 {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  gap: 1rem;
  text-align: center;
}

main > section.highlight-players > div > article > h3 > small {
  background-color: var(--font-color);
  color: var(--bg-color);
  border-radius: 1rem;
  padding: .6rem 1rem;
}

main > section.highlight-players > div > article ul {
  padding-left: 0;
}

main > section.highlight-players > div > article > ul {
  padding-left: 2rem;
}

/*
 Tablet
*/
@media only screen and (max-width: 1200px) {
}

/*
 Phones
*/
@media only screen and (max-width: 932px) {
  @keyframes horizontal-scrolling {
    0%{
      transform: translateX(100dvw);
    }
    100% {
      transform: translateX(-700dvw);
    }
  }
}
